.sock{
    width:80%;
    height:80%;
    cursor: pointer; 
    object-fit: scale-down;
}
.sock-container{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100px;
        justify-items: center;
        align-items: center;
}