<div id="snow">
  <div class="wall-container">
    <div class="wall">
      <span *ngFor="let position of sockPositionArea" [className]="'sock-at-'+position" >
          <app-sock-display  *ngIf="!!wishAtPosition(position); else noSock"  [wish]="wishAtPosition(position)"></app-sock-display>
          <ng-template  #noSock >
             <app-socks-button [position]="position">
               </app-socks-button>
          </ng-template>

      </span>
      <div class="fireplace">
      </div>
    </div>
  </div>
  <div class="footer">
    Powered by Angular, Firebase. Source available at 
    <a class="github-button" href="https://github.com/shangyilim/angular-firebase-secret-santa/fork" aria-label="Fork shangyilim/angular-firebase-secret-santa on GitHub">Fork</a>
  </div>
</div>