<h1 mat-dialog-title>Welcome to Secret Santa!</h1>
<div>
  <div class="wish-container">
    <img src="assets/secretsanta.png"/>
    <div class="message">
      <p>Merry Christmas! To begin, select an area on the wall to place a wish for your santa to see!  </p>
      <p> Have Fun! </p>
        
    </div>
    <div mat-dialog-actions style="justify-content:center" >
        <button mat-raised-button color="primary" (click)="close()" >OK</button>
      </div>
    <img src="assets/footer.png"/>
  </div>

  </div>