.sock {
    border-width:2px;
    border-color: transparent;
    border-style:solid;
    width:15%;
}
.sock:hover {
    border-width:2px;
    border-color: #3f51b5;
    border-style:solid;
}

.sock-selected {
    border-width:2px;
    border-color: #3f51b5;
    border-style:solid;

}
.wider {
    width: calc(100vw - (100vw *0.5))
}
.sock-selection {
    margin-bottom: 20px;
}
.wish-container{
    display: grid;
    grid-template-columns: calc(100vw - (100vw *0.5));
    grid-template-rows: auto 100% 20px;
    justify-items: center;
    text-align:center;

}
.wish {
    font-style: italic;
    font-weight: bold;
    font-size: larger;
    max-width: calc(100vw - (100vw *0.5));
    
}