
.sock-frame:hover {
    border-width: 3px;
    border-style:solid;
    border-color: #ea8a6091;
    height:100%;
    text-align:center;
    vertical-align: middle;
}
.sock-frame {border-width: 3px;
    border-style:solid;
    border-color: transparent;
    height:100%;
    padding:5px;
    display: grid;

}
.sock-frame {
    color: transparent;
     cursor: pointer; 
}
.sock-frame:hover {
    color:#ea8a60;
}