/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@font-face{
    font-family: "Roboto-Light";
    src: url('assets/Roboto-Light.ttf');

}

body{
    font-family: "Roboto-Light";
}
